<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link href='{% static 'fullcalendar.css' %}' rel='stylesheet' />
        <link href='{% static 'fullcalendar.print.css' %}' rel='stylesheet' media='print' />
        <link href='{% static 'navbar.css' %}' rel='stylesheet' />
        <link href='{% static 'modal.css' %}' rel='stylesheet' />
        <script src='{% static 'lib/moment.min.js' %}'></script>
        <script src='{% static 'lib/jquery.min.js' %}'></script>
        <script src='{% static 'fullcalendar.js' %}'></script>
        <script src='{% static 'moment-timezone-with-data.js' %}'></script>
        <script type='text/javascript' src='{% static 'gcal.js' %}'></script>
        <script type='text/javascript' src='{% static 'scripts.js' %}'></script>
        
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="777718038660-ob329re48n6vapuo4ebah4ssq5gdqrvn.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
        <script src="https://apis.google.com/js/api.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB7Zfk1cIw5ejq6x8Kol3qwNCv7R0NTJg&libraries=places&callback=initAutocomplete" async defer></script>
        <script src='{% static 'connectGoogle.js' %}'></script>
    </head>

    <body>
        <!-- The Navbar -->
        <div class="navbar">
            <ul>
                <li><a href="index">HOME</a></li>
                <li><a href="schedule">SCHEDULE</a></li>
                <li class="active"><a href="edittask">EDIT</a></li>
                <li><a href="/" onclick="signOut();">LOGOUT</a></li>
            </ul>
        </div>
        <!-- End Of Navbar -->

        <!-- The Edit Task Menu -->
        <p>{{taskTitle}} </p>
        <form id="taskform" method="POST">
            {% csrf_token %}
            <input type="text" name="taskTitle" placeholder="Enter title of task">
            <input type="button" name="saveBtn" value="Save" onclick="saveTask()">
            <input type="button" name="delBtn" value="Delete" onclick="deleteTask()">
            <br>
            From: <input type="date" name="f_date" >
            <input type="time" name="f_time" ></label>
            <!-- TODO using JS to set constraints for time input, and autoset t_time as f_time + 1hour-->
            <!-- CANDO using JS to recreate entire time list, so performance won't vary from browser-->
            To: <input type="date" name="t_date">
            <input type="time"  name="t_time">
            <br>
            <label for="Allday">all day</label>
            <input type="checkbox" name="all_day" onclick="checkallday()">
            <label for="EventType">EventType</label>
            <select name="type" id="type" onChange="checkMovieOption();">
                <option value="others">others</option>
                <option value="mealtime">mealtime</option>
                <option value="movie">movie</option>
            </select>
            <input type="text" name="destination" placeholder="Enter destination of task">
            <input type="textfield" name="description" placeholder="Enter description of task">
            <button type="button" name="cancelBtn" onclick="backToSchedule()">Cancel</button>
            <br>
            <button type="button" name="movieBtn" style="visibility:hidden;" onclick="displayMovieModal();">Choose Movie</button>
        </form>
        <!-- End Of Edit Task Menu -->

        <!-- The Movie Modal -->
        <div class="modal" id="movieModal">
            <div class="modal-content">
                <span class="close" onclick="closeMovieModal();">&times;</span>
                <label for="searchBox">Search Movie:</label> <br>
                <input type="text" id="searchBox" name="searchBox" placeholder="Enter movie title">
                <input type="button" name="searchBtn" value="Search" onclick="findCinemas();"> <br><br>
                <label for="cinemas">Cinemas:</label>
                <label for="showtimes">Showtimes:</label><br>
                <select name="cinemas">
                </select>
                <select name="showtimes">
                </select><br><br>
                <input type="button" name="completeBtn" value="Complete" onclick="submitMovieInfo();">
            </div>
        </div>
        <!-- End Of Movie Modal -->

        <script async defer src="https://apis.google.com/js/api.js"
                onload="this.onload=function(){};handleClientLoad()"
                onreadystatechange="if (this.readyState === 'complete') this.onload()">
        </script>
    </body>
</html>